---
import { Image } from "@astrojs/image/components";

import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = await Astro.glob("./projects/*.md");
---

<Layout title="Meral Lab - Web development & interface design studio">
  <main
    class="mx-4 lg:mx-8 before:bg-cover before:bg-[url('/bg-pattern-top.png')] before:w-[240px] before:h-[165px] lg:before:w-[461px] lg:before:h-[315px] before:absolute before:top-4 before:right-4 before:opacity-75"
  >
    <div class="flex flex-col justify-between">
      <div class="my-6">
        <a href="/" title="Meral Lab">
          <Image src="/meral-lab-logo-white.png" width="48" height="48" />
        </a>
      </div>
      <h1 class="font-bold text-4xl lg:text-7xl mt-20 mb-12 lg:max-w-5xl">
        Web development & interface design studio
      </h1>

      <div>
        <h2 class="mb-6 text-2xl font-normal">Featured work</h2>
        <div class="flex flex-wrap">
          {
            projects.map(({ frontmatter }) => (
              <ProjectCard
                title={frontmatter.title}
                subTitle={frontmatter.subTitle}
                image={frontmatter.image}
                service={frontmatter.service}
                techs={frontmatter.techs}
                color={frontmatter.color}
                url={frontmatter.url}
              />
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
